<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Meet | Contect Me</title>
  <link rel="stylesheet" href="static\CSS2\style.css">

</head>

<body>
  <table cellspacing="10">
    <tr>
      <td>Mobile Number</td>
      <td>+91 00000 00000</td>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>B2 103 silicon recidency, Savaliya circle, surat.</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>Lorem.@ipsum.com</td>
    </tr>
  </table>
  <hr>
  <div class="form1">
    <h3 class="hed">Enter your details</h3>
    <form class="form" action="mailto:thummarmeet15@gmail.com" method="post" enctype="text/plain">
        <label for="name">Name : </label>
        <input type="text" name="Name" value="" placeholder="Your Name"><br>

        <table>
          <tr>
            <td><label for="gender">Gender : </label></td>
            <td><input type="radio" name="g" value="male">Male <br>
              <input type="radio" name="g" value="female">Female <br>
              <input type="radio" name="g" value="other">Other <br>
            </td>
          </tr>
        </table>
        <label for="Email">E-mail : </label>
        <input type="email" name="E-mail" value="" placeholder="xyz@email.com"> <br> <br>

        <label for="pwd">Password : </label>
        <input type="password" name="password" value="" placeholder="Your Password"><br> <br>

        <label for="age">Age : </label>
        <input type="range" name="Age" value="0"><br> <br>


        <label for="intro">Introduce yourself : </label><br>
        <textarea name="intro" name="Introduce" rows="6" cols="40" placeholder="Your Information"></textarea> <br> <br>
      <div class="btn">
        <input class="sbmt" type="submit" name="Sub" value="Submit"> <br>
        <input class="rst"type="reset" name="Res" value="Reset">
      </div>

    </form>
  </div>
</body>

</html>
