<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meet | Hobbies</title>
    <link rel="stylesheet" href="static\CSS2\style.css">
  </head>
  <body>
    <h3>My hobbies :</h3>
    <ol type="1">
      <li><a href="https://en.wikipedia.org/wiki/History" target="_blank">History</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Geography" target="_blank">Geography</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Vedic_period" target="_blank">Indic vedic culture</a></li>
      <li>Rading books</li>
      <li>Journalism</li>
      <li>Singing</li>
      <li>Coding</li>
    </ol>
  </body>
</html>
