<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Meet Thummar</title>
  <link rel="stylesheet" href="static/CSS/style.css">
  <link rel="icon" href="static/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
  </link>
</head>

<body>
  <div class="top">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud-image">
    <h1>I'm Meet</h1>
    <p class="pro">a <span>pro</span>grammer.</p>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-image">
    <img src="static/images/mountain.png" alt="mountain-image">
  </div>
  <hr class="p1">
  <div class="middle-container">
    <div class="profile">
      <img src="static/a.png" alt="My pictorial representation" height="200px">
      <h2>Hello.</h2>
      <p class="intro">I am Meet Thummar, Surat based Web developer and a quick lerner. I am student of Computer engineering at Uka Tarsadia University. </p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="comp" src="static/images/computer.png" alt="computer">

        <h3>Web-development</h3>
        <p>I am good at web development and making good web applications at this time i am only trying my best at Front-end development.</p>
      </div>
      <div class="skill-row">
        <img class="datas" src="static/images/data.png" alt="data">
        <h3>data Structures</h3>
        <p>I am very good at Linear and Non-linear Data Structures and it's application i am glad to handle your databases with my efficient data management structure.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you want to learn about Computer Science</h3>
      <p class="blah">Yes, I love to meet and talk with people about CS and i will be more happy if you will join me.</p>
      <a class="btn" href="mailto:thummarmeet15@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/meet-thummar-b835a81aa/">LinkedIn</a>
    <a class="footer-link" href="https://www.instagram.com/meet_thummar5556/">Instagram</a>
    <a class="footer-link" href="index2.html">Website</a>
    <p class="copyright">© 2021 Meet Thummar</p>
  </div>

</body>

</html>
